{% extends 'bloodline/base.html' %}

{% block content %}
    <!-- <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" />
</form> -->
    <!-- <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form> -->

    {{ form.media }}
    <div class="container" id="blood_list_box">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="header">
                    <div id="branding">
                        <h1>Blood List</h1>
                    </div>
                </div>
                {% if blood_list %}
			<table>
				<thead>
					<tr>
						<th>No.</th>
						<th>User</th>
						<th>Bank</th>
						<th>Donor Date</th>
						<th>Donor Status</th>
					</tr>
				</thead>
				<tbody>
					{% for blood in blood_list %}
					<tr>
						<td>{{ blood.id }}</td>
						<td><a href="{% url 'bloodline_app:blood_detail' blood.id %}">{{ blood.user.username }}</a></td>
						<td><a href="{% url 'bloodline_app:blood_detail' blood.id %}">{{ blood.bank.name }}</a></td>
						<td><a href="{% url 'bloodline_app:blood_detail' blood.id %}">{{ blood.donor_date }}</a></td>
						<td><a href="{% url 'bloodline_app:blood_detail' blood.id %}">{{ blood.get_blood_status }}</a></td>
					</tr>
					{% endfor %}
					<tr>
						<td></td>
                		<td><input onclick="location.href='{% url 'bloodline_app:blood_create' %}';" type="button" value="Create Blood Donation" /></td>
            		</tr>
            		<tr>
						<td></td>
                		<td><input onclick="location.href='{% url 'bloodline_app:staff_main' %}';" type="button" value="Back" /></td>
            		</tr>
				</tbody>
			</table>
		{% else %}
		    <p>No blood registered.</p>
		    <input onclick="location.href='{% url 'bloodline_app:blood_create' %}';" type="button" value="Create Blood Donation" />
		    <input onclick="location.href='{% url 'bloodline_app:staff_main' %}';" type="button" value="Back" />
		{% endif %}
            </div>
        </div>
    </div>

{% endblock %}