

{% block content %}
  <!-- <h2>Sign up</h2> -->
  <!-- <form method="post"> -->
    <!-- {% csrf_token %} -->
    <!-- {% for field in form %} -->
      <!-- <p> -->
        <!-- {{ field.label_tag }}<br> -->
        <!-- {{ field }} -->
        <!-- {% if field.help_text %} -->
          <!-- <small style="color: grey">{{ field.help_text }}</small> -->
        <!-- {% endif %} -->
        <!-- {% for error in field.errors %} -->
          <!-- <p style="color: red">{{ error }}</p> -->
        <!-- {% endfor %} -->
      <!-- </p> -->
    <!-- {% endfor %} -->
    <!-- <input type="submit" value="Sign Up" /> -->
  <!-- </form> -->
<div id="header">
    <div id="branding">
      <h2>Sign Up</h2>
    </div>
</div>

<div id="content" class="flex">
  <div id="content-main">
    <h1>Register to BloodLine</h1>
    <form method="POST" class="post-form">
    {% csrf_token %}
        <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><input type="submit" value="Sign Up" /></td>
        </tr>
        </table>
    </form>
  </div>
</div>
{% endblock %}