{% extends 'bloodline/base_template.html' %}

{% block content %}

    {{ form.media }}
    <br><br><br><br>
    <div class="container" id="bank_details_box">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div id="branding">
                    <h1>Bank Details • {{ bloodlinebank.name }}</h1>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Info</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td><b>{{ bloodlinebank.name }}</b></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><b>{{ bloodlinebank.address }}</b></td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td><b>{{ bloodlinebank.postcode }}</b></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><b>{{ bloodlinebank.phone }}</b></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><b>{{ bloodlinebank.email }}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input onclick="location.href='{% url 'bloodline_app:bank_update' pk=bloodlinebank.pk %}';"
                                   type="button" value="Update Bank"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input onclick="location.href='{% url 'bloodline_app:bank_delete' pk=bloodlinebank.pk %}';"
                                   type="button" value="Delete Bank"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input onclick="location.href='{% url 'bloodline_app:bank_list' %}';" type="button"
                                   value="Back"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}