{% extends 'bloodline/base_template.html' %}

{% block content %}

    {{ form.media }}
    <br><br><br><br>
    <div class="container" id="template-box">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div id="branding">
                    <h1>Update Bank</h1>
                </div>
                <form method="POST" class="post-form">{% csrf_token %}
                    <table>
                        {{ form.as_table }}
                        <tr>
                            <td></td>
                            <td><input
                                    onclick="location.href='{% url 'bloodline_app:bank_detail' pk=bloodlinebank.pk %}';"
                                    type="button" value="Back"/> <input type="submit" value="Update"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

{% endblock %}