{% extends 'bloodline/base.html' %}


{% block content %}
    <!-- <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form> -->

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bloodline/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css"/>
    <link href="{{ STATIC_URL }}twitter/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}twitter/js/bootstrap.js"></script>
    {{ form.media }}
    <div class="container" id="appointment_box">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="header">
                    <div id="branding">
                        <h1>Appointment Request</h1>
                    </div>
                </div>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                        <tr>
                            <td></td>
                            <td><input onclick="location.href='{% url 'bloodline_app:home' %}';" type="button"
                                       value="Back"/>
                                <input type="submit" value="Save"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
</div>
</div>