{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bloodline/style.css' %}" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />

<div id="header">
    <div id="branding">
    	<h1>User List</h1>
    </div>
</div>

<div id="content" class="flex">
	<div id="content-main">
		{% if user_list %}
			<table>
				<thead>
					<tr>
						<th>No.</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					{% for user in user_list %}
					<tr>
						<td>{{ user.id }}</td>
						<td><a href="{% url 'bloodline:detail' user.id %}">{{ user.username }}</a></td>
					</tr>
					{% endfor %}
					<tr>
						<td></td>
                		<td><a href="{% url 'bloodline:add_user' %}">Add User</a></td>
            		</tr>
				</tbody>
			</table>
		{% else %}
		    <p>No user registered.</p>
		{% endif %}
	</div>
</div>