<!-- <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form> -->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bloodline/style.css' %}" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />

<div id="header">
    <div id="branding">
    	<h1>Create New User Page</h1>
    </div>
</div>

<div id="content" class="flex">
	<div id="content-main">
{% block content %}
    <h1>Create User</h1>
    <form method="POST" class="post-form">
    {% csrf_token %}
        <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><input onclick="location.href='{% url 'bloodline_app:index' %}';" type="button" value="Back" /> <input type="submit" value="Save" /></td>
        </tr>
        </table>
    </form>
{% endblock %}
	</div>
</div>