{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bloodline/style.css' %}" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />

<div id="header">
    <div id="branding">
    	<h1>Delete User Page</h1>
    </div>
</div>

<div id="content" class="flex">
	<div id="content-main">
{% block content %}
    <h1>Delete User</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <table>
        <tr>
            <td><p>Are you sure you want to delete "{{ object }}"?</p></td>
        </tr>
        <tr>
            <td><input type="button" value="Back" onClick="javascript:history.go(-1);"> <input type="submit" value="Confirm" /></td>
        </tr>
        </table>
    </form>
{% endblock %}
	</div>
</div>