{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bloodline/style.css' %}" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />

<div id="header">
    <div id="branding">
    	<h1>User Details • {{ user.username }}</h1>
    </div>
</div>

<div id="content" class="flex">
	<div id="content-main">
		<table>
			<thead>
				<tr>
					<th>Info</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Email</td>
					<td><b>{{ user.email }}</b></td>
				</tr>
				<tr>
					<td>Username</td>
					<td><b>{{ user.username }}</b></td>
				</tr>
				<tr>
					<td>First Name</td>
					<td><b>{{ user.first_name }}</b></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><b>{{ user.last_name }}</b></td>
				</tr>
				<tr>
					<td>Mobile</td>
					<td><b>{{ user.mobile }}</b></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><b>{{ user.address }}</b></td>
				</tr>
				<tr>
					<td>Blood Type</td>
					<td><b>{{ user.blood_type }}</b></td>
				</tr>
				<tr>
					<td>Verified</td>
					<td><b>{{ user.verified }}</b></td>
				</tr>
				<tr>
					<td></td>
					<td><input onclick="location.href='{% url 'bloodline_app:user_update' pk=user.pk %}';" type="button" value="Update User" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input onclick="location.href='{% url 'bloodline_app:user_delete' pk=user.pk %}';" type="button" value="Delete User" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" value="Back" onClick="javascript:history.go(-1);"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>