{% extends 'bloodline/base.html' %}

{% block content %}
    <!-- <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form> -->
    <!-- <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form> -->
    <!-- <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
 -->

    {{ form.media }}
    <div class="container" id="user_list_box">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="header">
                    <div id="branding">
                        <h1>User List</h1>
                    </div>
                </div>
                {% if user_list %}
                    <table>
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Username</th>
                            <th>Blood Type</th>
                            <th>Verified</th>
                            <th>Staff</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in user_list %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td><a href="{% url 'bloodline_app:user_detail' user.id %}">{{ user.username }}</a></td>
                                <td>
                                    <a href="{% url 'bloodline_app:user_detail' user.id %}">{{ user.get_blood_type }}</a>
                                </td>
                                <td><a href="{% url 'bloodline_app:user_detail' user.id %}">{{ user.verified }}</a></td>
                                <td><a href="{% url 'bloodline_app:user_detail' user.id %}">{{ user.is_staff }}</a></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td><input onclick="location.href='{% url 'bloodline_app:user_create' %}';" type="button"
                                       value="Create User"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input onclick="location.href='{% url 'bloodline_app:staff_main' %}';" type="button"
                                       value="Back"/></td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                    <p>No user registered.</p>
                    <input onclick="location.href='{% url 'bloodline_app:user_create' %}';" type="button"
                           value="Create User"/>
                    <input onclick="location.href='{% url 'bloodline_app:staff_main' %}';" type="button" value="Back"/>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}