{% extends 'bloodline/base_template.html' %}

{% block content %}

    {{ form.media }}
    <br><br><br>
    <div class="container" id="template-box">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="branding">
                    <h1>Create User</h1>
                </div>
                <form method="POST" class="post-form" id="create-form">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                        <tr>
                            <td></td>
                            <td><input onclick="location.href='{% url 'bloodline_app:user_list' %}';" type="button"
                                       value="Back"/> <input type="submit" value="Save"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

{% endblock %}