/*li a {
    color: green;
}

body {
    background: white url("images/background.gif") no-repeat right bottom;
}*/

.navbar-inner {
    border-top: red 3px solid;
}

.main.logo.img {
    width: 80px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main.content-container {
    background-image: url("../img/home-background.jpg");
}

.content-container {
    width: 100%;
    height: 300px;
}

html, body {
    width: 100%;
    height: 100%;
}

.bg {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: white;
    background-size: cover;
}

.my-navbar {
    padding: 20px 0;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.my-navbar a {
    background: transparent !important;
    color: darkslategray !important
}

.my-navbar a:hover {
    color: red !important;
    background: transparent;
    outline: 0
}

.my-navbar a {
    transition: color 0.5s ease-in-out;
}

/*-webkit-transition ;-moz-transition*/
.top-nav {
    padding: 0;
    border-top: red 3px solid;
    background: white;
    height: 120px;
}

button.navbar-toggle {
    background-color: #fbfbfb;
}

button.navbar-toggle > span.icon-bar {
    background-color: #dedede
}

#navbar-collapse {
    padding-top: 50px;
    padding-right: 50px;
}

#myCarousel {
    background: url("../img/Nathan-homepage.png")
}

.signup-prompt{
    color:white;
}

.login-box{
    margin-top: 100px;
}

.login-box a:hover{
    color:mintcream;
}

.forgot-passward-prompt{
    color: white;
}

.layer {
    background: #000;
    opacity: 0.42;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

* {
    margin: 0;
    padding: 0;
}

.search-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99999;
    background: rgba(256, 256, 256, 0.8) !important;
    background: white;
    filter: Alpha(opacity=80);
}

input[type="text"]{
    color:black;
}

#appointment_accordion{
    margin-top: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.red {
    color: red;
}

.search-input-container {
    padding-top: 150px;
    opacity: 1 !important;
}

.search-result-list {
    opacity: 1 !important;
    height: 250px;
    overflow: scroll;
    overflow-x:hidden;
    margin-top: 10px;
}

.close {
    padding-top: 200px;
    margin-right: 20px;
    margin-top: 20px;
    opacity: 1 !important;
    color: #555;
}

.hide {
    display: none;
}