{% extends 'bloodline/base.html' %}

{% block content %}
    <div class="container login-box">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Log in to My Site</h2>
                {% if form.errors %}
                    <p style="color: red">Your username and password didn't match. Please try again.</p>
                {% endif %}
                <form method="post" class="form-horizontal" role="form" id="login_form">
                    {% csrf_token %}
                    <input type="hidden" class="form-control" name="next" value="{{ next }}"/>
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}<br>
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% if field.help_text %}
                            <p>
                                <small style="color: grey">{{ field.help_text }}</small>
                            </p>
                        {% endif %}
                        </p>
                    {% endfor %}
                    <br>
                    <input type="submit" class="btn btn-danger" value="Log In"/>
                    <a class="forgot-passward-prompt" href="{% url 'bloodline_app:password_reset' %}">Forgot password?</a>
                    <br>
                    <br>
                    <a class="signup-prompt" href={% url 'bloodline_app:signup' %}>New to My Site?</a>
                    <a class="signup-btn" href={% url 'bloodline_app:signup' %}><input type="button" class="btn btn-success" value="Sign Up"/></a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

