<!-- Password reset confirm page. If the link is valid, let the user to set the password.
Else, prompt the user to request a new password reset -->
{% extends 'bloodline/base.html' %}

{% block content %}
    {% if validlink %}
        <h3>Change password</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button>
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}

